<div class="container-fluid">
	<footer class="footer">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-xl-6">
				<div class="logo-box">
					<img class="logo" [src]="imgLogo2">
					<img class="logo" [src]="imgLogo">
				</div>
					<div class="h5 text-default mt-1 mb-1">	Kementerian Perumahan dan Kerajaan Tempatan,<br>
															No.51, Persiaran Perdana, Presint 4, 62100, Putrajaya.<br>
															Tel: 03-8000 8000    Faks: 03 -8891 5557<br><br></div>
				<div class="copyright text-center text-xl-left text-muted">
					&copy; {{ test | date: "yyyy" }}
					All rights reserved © 
					<a
						href="https://www.kpkt.gov.my"
						class="font-weight-bold ml-1"
						target="_blank"
					>
						KPKT-(S-CHARMs)
					</a>
				</div>
			</div>
		</div>
	</footer>
</div>